:root{
    --color-red: #E6563b;
    --color-orange: #eb9d3a;
    --color-green: #76b06c;
    --color-blue: #00aba9;
    --color-white: #f0f0f0;
    --color-gray: #e6e6e6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}

body{
    font-family: 'Abel', sans-serif;
    background-color: var(--color-white);
}

#red{
    background-color: var(--color-red);
    width: 5.5em;
    height: 5.5em;
    margin: .6em;
    padding-top: 1.9em;
}

#orange{
    background-color: var(--color-orange);
    width: 5.5em;
    height: 5.5em;
    margin: .6em;
    padding-top: 1.9em;
}

#blue{
    background-color: var(--color-blue);
    width: 5.5em;
    height: 5.5em;
    margin: .6em;
    padding-top: 1.9em;
}

#green{
    background-color: var(--color-green);
    width: 5.5em;
    height: 5.5em;
    margin: .6em;
    padding-top: 1.9em;
}

.border{
    border-width: .3em !important;
}

.images{
    height: 12.5em;
    border-width: .25em;
    border-color: var(--color-gray);
}

.small{
    height: 4em;
    width: 4em;
    border-width: .1em;
    border-color: var(--color-gray);
    overflow-wrap: normal;
}

.no-padding{
    padding: 0;
}

.red{
    background-color: var(--color-red);
}

.orange{
    background-color: var(--color-orange);
}

.green{
    background-color: var(--color-green);
}

.blue{
    background-color: var(--color-blue);
}

.inline{
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    margin-bottom: .5em;
    padding-top: 1em;
}
.point{
    margin-top: 1em;
}

.offset-c{
    margin-left: 3%;
}

.offset-c2{
    margin-left: 5.5%;
}

.codeup {
    font-size: xx-large;
}


