:root{
    --color-red: #E6563b;
    --color-orange: #eb9d3a;
    --color-green: #76b06c;
    --color-blue: #00aba9;
    --color-white: #f0f0f0;
    --color-gray: #e6e6e6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}

body{
    font-family: 'Abel', sans-serif;
    background-color: var(--color-white);
}

#red{
    background-color: var(--color-red);
}

#orange{
    background-color: var(--color-orange);
}

#blue{
    background-color: var(--color-blue);
}

#green{
    background-color: var(--color-green);
}

.rounded-circle{
    width: 6.8em;
    height: 6.8em;
    margin: .6em;
    padding-top: 2.2em;
}
.border{
    border-width: .3em !important;
}

.images {
    height: 12.5em;
    border-width: .25em;
    border-color: var(--color-gray);
}

.small {
    height: 1em;
    width: 1em;
    border-width: .1em;
    border-color: var(--color-gray);
}